.header-wrapper{
    @media (max-width:767px){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        display: block;
        background-color: var(--background-text-color);
        border-bottom: 1px solid var(--border-solid-colot);

    }

    @media (min-width:768px) {
        background-color: var(--background-text-color);
        border-bottom: 1px solid var(--border-solid-colot);
    }
    }
       
.logo-header{ 
    display: inline-block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--link-text-color);
    text-decoration: none;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    &__studio{
        color: var(--header-text-color);
    }
    @media (min-width:767px) {
        padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
    }

    @media (min-width:1200px) {
        margin-right: 93px;
    }

    } 

  
        /* СТИЛИ НАВИГАЦИИ */
.nav-menu{
    display: flex;
    align-items: center;
    }
    
    
.nav-list{
        display: flex;
        padding-left: 0;
        margin: 0; 
        
        
        &__item{
            list-style-type: none;
            margin-right: 50px;
            }
            &__item:last-child{
                margin-right: 0;
            }
            &__link{
                position: relative;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            color: var(--header-text-color);
            text-decoration: none;
            
            padding-top: 32px;
            padding-bottom: 32px;
            
            transition-property: var(--link-text-color), transform;
            transition-duration: 250ms;
            transition-timing-function: var(--timing-function);
            }
            &__link:hover,
            &__link:focus{
        color: var(--link-text-color);
    }
    &__link--current{
        color: var(--link-text-color);
    }   
    &__link--current::after{
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 2px;
        background-color: var(--link-text-color);
    }
    @media (min-width:320px) and (max-width:767px) {
        display: none;
        }

    }
    /* СТИЛИ КОНТАКТОВ В HEADER */

.contact-list{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;

    @media (min-width:1200px) {
        display: flex;
        margin-left: 305px;
    }


    &__item{
        list-style: none;
    }
    &__link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--primary-text-color);
        text-decoration: none;
        
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
        transition-property: var(--link-text-color), transform;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
        }
        &__link--mail{
            margin-bottom: 10px;
            
            @media (min-width:1200px) {
                margin-right: 30px;
            }
        }
        &__link--tel{
            display: inline-flex;
        }


        &__link:hover,
        &__link:focus{
        color: var(--link-text-color);
}
&__icon{
    margin-right: 10px;
    fill: currentColor;
}
&__icon:hover,
&__icon:focus{
color: var(--link-text-color);
}
@media (min-width:320px) and (max-width:767px) {
    display: none;
    }
}

/* СТИЛИ МЕНЮ ТЕЛЕФОН */

.open-mobile__btn{
    display: inline-block;
    justify-self: end;
    margin-left: auto;
border: none;
background-color: rgba(0,0,0,0);
padding: 0;

@media (min-width:767px){
    display: none;
}
}

.nav-mobmenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    background-color: var(--background-text-color);
    padding: 48px 40px 48px 40px;

    @media (min-width:767px){
        display: none;
    }
}

.nav-mobmenu.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.nav-mobmenu__btn{
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 21px;
    margin-right: 25px;
    fill: var(--link-text-color);
    }

.mobmenu-list{
    list-style: none;
    margin: 0;
    padding: 0;
    

    &__item {
       margin-bottom: 32px;

    }
    &__item:last-child{
        margin-bottom: 152px;
    }
    &__link {
        text-decoration: none;
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
color: var(--header-text-color);
    }
    &__link:hover,
    &__link:focus{
color: var(--link-text-color);
}
&__link--current{
color: var(--link-text-color);
}   

}

.mobile-list{
    list-style: none;
    padding: 0;
    margin: 0;

   
    &__item{
        margin-bottom: 32px;

    }

    &__link{
        text-decoration: none;
    }
    &__link--tel{
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;
letter-spacing: 0.02em;
color: var(--link-text-color);
margin-bottom: 32px;
    }
    &__link--mail{
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;

color: var(--primary-text-color);
    }
}


.social-mobile-list{
    list-style: none;
    padding: 0;
    margin: 0;  
    display: flex;

    &__item{
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &__item:last-child{
        margin-right: 0;
        border-right: none;
        padding-right: 0;
    }



    &__link{
        font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22px;
letter-spacing: 0.02em;
color: var(--link-text-color);
    }


}