.clients{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    
    margin-top: 0;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    line-height: 1.17;
    }
    }
    
.clients-list{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        &__item{
            min-height: 92px;
            width: calc((100% - 30px)/2);
            border: 1px solid var(--social-group-color);
            border-radius: 4px; 

        }


        @media screen and (max-width: 767px) {
            &__item:nth-last-child(even){
                margin-right: 30px;
            }

        }
        @media screen and (max-width: 767px){
            &__item:not(:nth-last-child(-n+2)) {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &__item:not(:nth-child(3n)) {
                margin-right: 30px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &__item:not(:nth-last-child(-n+3)) {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: 768px) {
            &__item{
                width: calc((100% - 60px)/3);
            }
        }
        @media screen and (min-width: 1200px){
            &__item:not(:last-child){
                margin-right: 30px;
            }
        }
        @media screen and (min-width: 1200px){
            &__item{
                width:calc((100% - 150px)/6); ;
            }
        }



       &__link{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        
        
            transition-property: var(--link-text-color), transform;
            transition-duration: 250ms;
            transition-timing-function: var(--timing-function);
        }
        &__item:hover,
        &__item:focus{
        border-color: var(--link-text-color);
    }
    &__link:hover>
    &__icon,
    &__link:focus>
    &__icon{
        fill: var(--link-text-color);
    }
    &__icon{
        width: 106px;
        height: 60px;
        fill: var(--social-group-color);
        transition-property: var(--link-text-color), transform;
        transition-duration:250ms;
        transition-timing-function: var(--timing-function);
    }
    &:hover,
    &__icon:focus{
        fill: var(--link-text-color);
    }

}
    
    
    
    
    
    
    
    
    
    