.benefits{
    background-color: var(--background-text-color);
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
    }
    
.benefits-list{
        list-style-type: none;
        margin: 0;
        padding: 0;

        @media (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
        }

        &__item{
            max-width: 450px;
          
        }

        @media screen and (min-width: 480px) and (max-width: 767px) {
            &__item:not(:last-child) {
                margin-bottom: 30px;

            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &__item:nth-child(odd) {
                margin-right: 30px;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &__item:not(:nth-last-child(-n+2)) {
                margin-bottom: 30px;
            }
        }
        @media screen and (min-width: 768px) {
            &__item{
                width: calc( (100% - 30px) /2);
            }
        }
        @media screen and (min-width: 1200px) {
            &__item:not(:last-child) {
                margin-right: 30px;
            }
            @media screen and (min-width: 1200px) {
                &__item{
                    width: calc( (100% - 90px) /4);
                }

            }

        }


        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
        
            background-color: var(--benefis-background-color);
            width: 100%;
            height: 120px;
        
            border-radius: 4px;
            margin-bottom: 30px;
        }
        &__title{   
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            
            color: var(--header-text-color);
            
            margin: 0;
            margin-bottom: 10px;
            }

            @media screen and (max-width: 767px) {
                &__title{
                    text-align: center;
                }
            }




            &__text{
                font-family: 'Roboto';
                font-style: normal;
                font-size: 14px;
                line-height: 1.71;
                letter-spacing: 0.03em;
                color: var(--primary-text-color);
                margin-top: 0;
                margin-bottom: 0;
                }
    }
    
    
    
    
    
   
    
   