body{
    background-color: var(--background-text-color);
    font-family: 'Roboto', 'Raleway';
    font-style: normal;   
    }
    
    .container{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .section{
        padding-top: 94px;
        padding-bottom: 94px;
        margin: 0 auto;
    }