:root{
    --header-text-color: #212121;
    --primary-text-color: #757575;
    --social-group-color:#AFB1B8;
    --background-footer-color: #2F303A;
    --join-link-color:#44454E;
    --footer-list-color:rgba(255, 255, 255, 0.6);
    --link-text-color:#2196F3;
    --change-text-color:#188CE8;
    --background-text-color: #ffffff;
    --border-solid-colot:#ECECEC;
    --benefis-background-color:#F5F4FA;
    --border-pictures-nut-color:#EEEEEE;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --btn-hero-border:rgba(0, 0, 0, 0.15);
    --hero-fon-color: rgba(47, 48, 58, 0.4);
    --study-list-text-color: rgba(47, 48, 58, 0.8);
    --flat-item-overlay-color:rgba(33, 150, 243, 0.9);
    --subscription-form-input-color:rgba(255, 255, 255, 0.3);
    --backdrop-background-color:rgba(0, 0, 0, 0.2);
    --close-btn-modal-color:rgba(0, 0, 0, 0.1);
    --border-input-color:rgba(33, 33, 33, 0.2);
    }